<!doctype html>

<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


<title>Controle Financeiro</title>


</head>

<body>


<header>
    <nav>
        <div>

            <a href="{{ url_for('index') }}">
                Controle Financeiro
            </a>

            <div id="menu">

                <ul>

                    <li>
                        <a href="{{ url_for('index') }}">
                            Início
                        </a>
                    </li>

                    <li>
                        <a href="{{ url_for('cadastro_receitas') }}">
                            Receitas
                        </a>
                    </li>

                    <li>
                        <a href="{{ url_for('sobre') }}">
                            Sobre
                        </a>
                    </li>

                </ul>

            </div>
        </div>
    </nav>
</header>

<main>

    {% block content %}
    {% endblock %}

</main>


</body>

</html>
