{% extends "base.html" %}
{% block content %}
<h2>Receitas</h2>
<a href="{{ url_for('cadastro_receitas') }}">
    <button type="button">Adicionar Receita</button>
</a>
{% if receitas %}
<ul>
  {% for receita in receitas %}
  <li>
    #{{ receita.id }} -
    {{ receita.data }} -
    {{ receita.descricao }} -
    R$ {{ "%.2f"|format(receita.valor) }}
    <a href="{{ url_for('detalhe_receita', receita_id=receita.id) }}">Detalhes</a>
    <a href="{{ url_for('editar_receita', receita_id=receita.id) }}">Editar</a>
    <form
      method="POST"
      action="{{ url_for('remover_receita', receita_id=receita.id) }}"
      style="display: inline;">
        <button type="submit">Excluir</button>
    </form>
  </li>
  {% endfor %}
</ul>
{% else %}
  <p>Nenhuma receita cadastrada ainda.</p>
{% endif %}
{% endblock %}